Repository YIO-Remote/remote-software, pull requests merged in 2021-01, with the labels that each got.

#516 Initial setup: clear networks before joining
  setup/SetupStep3.qml
  setup/SetupStep4.qml
  setup/SetupStep4Other.qml
  sources/hardware/linux/wifi_wpasupplicant.cpp
  translations/en_US.ts
Labels: Wi-Fi, bug, initial setup

#524 Implementation of EPG Model for the media player entity
  components/media_player/ui/Card.qml
  components/media_player/ui/CardMediaPlayerEPGView.qml
  components/media_player/ui/EPGItemView.qml
  dependencies.cfg
Labels: Media Player, enhancement

#504 Feature/custom buttons remote
  Style.qml
  components/ButtonBase.qml
  components/remote/ui/ir/Card.qml
  components/remote/ui/ir/CardButtons.qml
  components/remote/ui/ir/CardButtonsCustom.qml
  components/remote/ui/ir/CardButtonsFunction.qml
  components/remote/ui/ir/CardButtonsTransport.qml
  components/remote/ui/ir/IconButton.qml
  config-schema.json
  dependencies.cfg
  icons/icons.ttf
  qml.qrc
  sources/config.cpp
  sources/config.h
  sources/entities/entity.cpp
  sources/entities/entity.h
  sources/entities/remote.cpp
  sources/entities/remote.h
Labels: enhancement
